{% extends "dashboard/base.html" %}

{%block content%}

<div class="owl-carousel owl-theme">
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1580133318324-f2f76d987dd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            alt="unsplash.com">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1574069278443-4b883ae4e89f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=434&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image" src="
            https://images.unsplash.com/photo-1556099192-2173ddf5d1f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80
            " alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1556427777-4b0bc6b410a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
            alt="">
    </div>/
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1511527661048-7fe73d85e9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1554587732-cd5fc8ac1a12?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1580554996018-ff8b408fc162?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=801"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1580322687308-140bc67b2f10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1574681332110-c45ff35a5e09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1579783616444-4604fd2fb8f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1551504130-575d34c640fd?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1546822780-59ddd2d517c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
            alt="">
    </div>
</div>

<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="row no-gutters">
            {%for image in images%}
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="{{image.image_url}}"
                    data-caption="{{image.image_name}}: {{image.image_description}}">
                    <img class="img-fluid image" src="{{image.image_url}}">
                    <span class="description">
                        <span class="description-heading"
                            style="font-family: 'Dancing Script', cursive;">{{image.image_name}}</span>
                        <span class="description-body"
                            style="font-family: 'Dancing Script', cursive;">{{image.image_description}}</span>
                        <div style="display: flex;">
                            <p class="description-body" style="font-family: 'Dancing Script', cursive;"><span
                                    class="badge">
                                    <i class="fas fa-map-marker-alt"></i> {{image.location}},
                                    {{image.location}}
                                </span></p>
                            <span id="image{{image.id}}" hidden
                                style="font-family: 'Dancing Script', cursive;">{{image.image_url}}</span>
                            <button onclick="copyToClipboard('image{{image.id}}')" class="btn no-border text-white"><i
                                    class="far fa-copy"></i></button>
                        </div>
                        <small style="font-size: 12px; float:right; font-family: 'Dancing Script', cursive;"
                            class="ml-45"><i class="far fa-clock"></i>
                            {{image.post_date | timesince}} ago</small>
                    </span>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock%}