{% extends "dashboard/base.html" %}

{%block content%}

<div class="owl-carousel owl-theme">
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1504626113995-a0e5d91f925d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80"
            alt="unsplash.com">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1516483638261-f4dbaf036963?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=333&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1547471080-7cc2caa01a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1501649642741-b90ae46fc747?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
            alt="">
    </div>/
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1511527661048-7fe73d85e9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1478436127897-769e1b3f0f36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1508804185872-d7badad00f7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1579012959097-bdb5ff05156c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1574681332110-c45ff35a5e09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1574300328682-e5f390039dc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1546412414-e1885259563a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
    </div>
    <div class="item">
        <img class="img-fluid image"
            src="https://images.unsplash.com/photo-1489392191049-fc10c97e64b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=748&q=80"
            alt="">
    </div>
</div>

<section>
    <div class="container">
        <div class="row no-gutters">
            {%for image in images%}
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="{{image.image_url}}" data-caption="{{image.name}}: {{image.description}}">
                    <img class="img-fluid image" src="{{image.image_url}}">
                    <span class="description">
                        <span class="description-heading">{{image.name}}</span>
                        <span class="description-body">{{image.description}}</span>
                        <div style="display: flex;">
                            <p class="description-body"><span class="badge">
                                    <i class="fas fa-map-marker-alt"></i> {{image.location.city}},
                                    {{image.location.country}}
                                </span></p>
                            <span id="image{{image.id}}" hidden>{{image.image.url}}</span>
                            <button onclick="copyToClipboard('image{{image.id}}')" class="btn no-border text-white"><i
                                    class="far fa-copy"></i></button>
                        </div>
                        <small style="font-size: 12px; float:right" class="ml-45"><i class="far fa-clock"></i>
                            {{image.post_date | timesince}} ago</small>
                    </span>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock%}