{% extends "dashboard/base.html" %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2 style=" font-family: 'Dancing Script', cursive; ">Locations</h2>
            <div class="list-group">
                {%for location in locations%}
                <a href="{% url 'location' location.id%}"
                    class="list-group-item list-group-item-action locale" style=" font-family: 'Dancing Script',
                    cursive; background-color: coral; " >{{location.city}}, {{location.country}}</a>
                {%endfor%}
            </div>
        </div>
        <div class="col-lg-9">
            <section class="gallery-block compact-gallery">
                <div class="container">
                    <div class="row no-gutters">
                        {%for image in images%}
                        <div class="col-md-6 item zoom-on-hover">
                            <a class="lightbox" href="{{image.image_url}}"
                                data-caption="{{image.image_name}}: {{image.image_description}}">
                                <img class="img-fluid image" src="{{image.image_url}}">
                                <span class="description">
                                    <span class="description-heading">{{image.image_name}}</span>
                                    <span class="description-body">{{image.image_description}}</span>
                                    <div style="display: flex;">
                                        <p class="description-body"><span class="badge">
                                                <i class="fas fa-map-marker-alt"></i> {{image.location.city}},
                                                {{image.location.country}}
                                            </span></p>
                                        <span id="photo{{photo.id}}" hidden>{{image.image_url}}</span>
                                        <button onclick="copyToClipboard('image{{image.id}}')"
                                            class="btn no-border text-white"><i class="far fa-copy"></i></button>
                                    </div>
                                    <small style="font-size: 12px; float:right" class="ml-45"><i
                                            class="far fa-clock"></i> {{image.post_date | timesince}} ago</small>
                                </span>
                            </a>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}