<header>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent" style="background-color: coral;">
            <div class="bg-dark p-4" style="background-color: coral;">
                <h4 class="text-white" style=" font-family: 'Dancing Script', cursive; color: white; ">Gallery Show</h4>
                <span class="text-white" style=" font-family: 'Dancing Script', cursive; color: black;">WELCOME TO THE
                    BEST TRAVEL
                    WEBSITE IN THE WORLD</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="background-color: coral;">

                <form action="{% url 'search' %}" method="GET" class="form-inline my-2 my-lg-0"
                    style="background-color: coral;">
                    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Travel, food, etc"
                        aria-label="Search" style="background-color: coral; font-family: 'Dancing Script', cursive; ">
                    <button class="btn btn-dark" type="submit" style=" font-family: 'Dancing Script', cursive;  ">Search
                        Category</button>
                </form>
            </div>
        </nav>
        <div class="col-sm-4 offset-md-1 py-4">
            <li style=" font-family: 'Dancing Script', cursive;  "><a style="color: #333;" class="links"
                    href="{% url 'scroll'%}" style="font-family: 'Dancing Script', cursive; color: white;">Scroll
                    through Images and
                    see Location</a>
            </li>
            <div class="dropdown-divider"></div>
        </div>
        <div class="navbar navbar-light bg-light sticky-top p-3 rounded no-radius" style="background-color: coral;">
            <div class="container d-flex justify-content-between" style="background-color: coral;">
                <a href="/" class="mx-auto navbar-brand d-flex align-items-center">
                    <h1 class="text-center my-2 head" style="font-family: 'Dancing Script', cursive;  color: white;">
                        Gallery Show</h1>
                </a>
            </div>
</header>